html {
  color: #333;
  background-color: #fff;
  font-family: arial,'Helvetica',sans-serif;
  font-size: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: #333;
  top: -20px;
  position: relative; }

body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5; }

h1 {
  margin-left: 0.85rem;
  padding-top: 1.75rem;
  font-size: 2rem;
  font-weight: 400; }

section.content {
  width: 100%;
  min-height: 768px; }

ul.photo-wrap {
  width: 100%;
  position: relative;
  padding: 0; }
  ul.photo-wrap li.photo-tile {
    list-style: none;
    position: absolute;
    padding: 0;
    -webkit-transition: all 200ms ease-out 500ms;
    -moz-transition: all 200ms ease-out 500ms;
    -o-transition: all 200ms ease-out 500ms;
    transition: all 200ms ease-out 500ms; }
    ul.photo-wrap li.photo-tile img.photo {
      width: 100%; }
    ul.photo-wrap li.photo-tile:hover {
      transition: all 0.35s ease-out;
      cursor: pointer; }

.row {
  width: 100%;
  margin: 0.5rem 0 0.5rem; }

div.photos {
  width: 90%;
  float: left;
  overflow-y: scroll;
  height: 900px;
  background-color: #fff; }

div.side-bar {
  width: 10%;
  float: left;
  background-color: #f5f5f5;
  height: 400px; }
  div.side-bar .select-wrap h4 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem; }
  div.side-bar .select-wrap input.radio {
    display: none; }
  div.side-bar .select-wrap .label-large, div.side-bar .select-wrap .label-medium, div.side-bar .select-wrap .label-small, div.side-bar .select-wrap .label-reset {
    background-color: #1e90ff;
    border: 2px solid #1b7cdf;
    display: block;
    margin: 0 auto;
    transition: background-color 0.35s, ease-in; }
    div.side-bar .select-wrap .label-large:hover, div.side-bar .select-wrap .label-medium:hover, div.side-bar .select-wrap .label-small:hover, div.side-bar .select-wrap .label-reset:hover {
      transition: all 0.35s, ease-in;
      background-color: #3bbeff;
      border: 2px solid #73abff;
      cursor: pointer; }
  div.side-bar .select-wrap .label-small {
    width: 0px;
    height: 0px;
    padding: 10px; }
  div.side-bar .select-wrap .label-medium {
    margin-top: 20px;
    width: 10px;
    height: 10px;
    padding: 10px; }
  div.side-bar .select-wrap .label-large {
    margin-top: 20px;
    width: 15px;
    height: 15px;
    padding: 15px; }
  div.side-bar .select-wrap .label-reset {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    padding: 0px;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center; }

.singularity {
  z-index: 1;
  -webkit-animation: 1s linear singularity;
  -o-animation: 1s linear singularity;
  animation: 1s linear singularity;
  transform-style: preserve-3d;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0; }

.singularity-nofade {
  z-index: 1;
  -webkit-animation: 1s linear singularity-nofade;
  -o-animation: 1s linear singularity-nofade;
  animation: 1s linear singularity-nofade;
  transform-style: preserve-3d;
  opacity: 1; }

.sub-singularity {
  z-index: 0;
  -webkit-animation: 1s linear sub-singularity;
  -o-animation: 1s linear sub-singularity;
  animation: 1s linear sub-singularity;
  transform-style: preserve-3d;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0; }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes singularity {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 1; }
  70% {
    transform: scale(0.2);
    opacity: 0.2; }
  100% {
    transform: scale(0.1);
    opacity: 0; } }

@keyframes singularity-nofade {
  0% {
    transform: scale(1);
    opacity: 1; }
  15% {
    transform: scale(1.05);
    opacity: 0.5; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes sub-singularity {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  70% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(0.1);
    opacity: 0; } }
