
img.vortex {
    transition: all 0.5s ease-out !important;
    /*
    -webkit-animation: 0.5s linear xplode ;
    -o-animation: 0.5s linear xplode ;
    animation: 0.5s linear xplode ;
    */
    opacity: 0; }

.reset-3d {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.xplode {
    z-index: 1;
    -webkit-animation: 0.5s linear xplode;
    -o-animation: 0.5s linear xplode;
    animation: 0.5s linear xplode;
    transform-style: preserve-3d;
    opacity: 0; }

.sub-xplosion {
    z-index: 0;
    -webkit-animation: 0.5s linear sub-singularity;
    -o-animation: 0.5s linear sub-singularity;
    animation: 0.5s linear sub-singularity;
    transform-style: preserve-3d;
    -webkit-transition: opacity 1.5s ease-out;
    -moz-transition: opacity 1.5s ease-out;
    -ms-transition: opacity 1.5s ease-out;
    -o-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    opacity: 0; }

.singularity {
    z-index: 1;
    -webkit-animation: 1s linear singularity;
    -o-animation: 1s linear singularity;
    animation: 1s linear singularity;
    transform-style: preserve-3d;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0; }

.singularity-nofade {
    z-index: 1;
    -webkit-animation: 1s linear singularity-nofade;
    -o-animation: 1s linear singularity-nofade;
    animation: 1s linear singularity-nofade;
    transform-style: preserve-3d;
    opacity: 1; }

.sub-singularity {
    z-index: 0;
    -webkit-animation: 1s linear sub-singularity;
    -o-animation: 1s linear sub-singularity;
    animation: 1s linear sub-singularity;
    transform-style: preserve-3d;
    -webkit-transition: opacity 1.5s ease-out;
    -moz-transition: opacity 1.5s ease-out;
    -ms-transition: opacity 1.5s ease-out;
    -o-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    opacity: 0; }

.chell {
    transform-style: preserve-3d;
    transform: rotateY(180deg) translateZ(50px);
    -webkit-animation: 1s linear chell;
    -o-animation: 1s linear chell;
    animation: 1s linear chell;
    opacity: 0; }

@keyframes chell {
    0% {
        opacity: 1; }
    75% {
        opacity: 0.2; }
    100% {
        opacity: 0; } }

@keyframes xplode {
    0% {
        opacity: 1; }
    50% {
        opacity: 0.75; }
    100% {
        opacity: 0; } }

@keyframes bounce {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.1); }
    100% {
        transform: scale(1); } }

@keyframes singularity {
    0% {
        transform: scale(1);
        opacity: 1; }
    50% {
        transform: scale(1.1);
        opacity: 1; }
    70% {
        transform: scale(0.2);
        opacity: 0.2; }
    100% {
        transform: scale(0.1);
        opacity: 0; } }

@keyframes singularity-nofade {
    0% {
        transform: scale(1);
        opacity: 1; }
    15% {
        transform: scale(1.05);
        opacity: 0.5; }
    50% {
        transform: scale(1);
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 1; } }

@keyframes sub-singularity {
    0% {
        transform: scale(1);
        opacity: 1; }
    50% {
        transform: scale(1);
        opacity: 1; }
    70% {
        transform: scale(0.5);
        opacity: 0; }
    100% {
        transform: scale(0.1);
        opacity: 0; } }

@keyframes sub-xplosion {
    0% {
        transform: scale(1);
        opacity: 1; }
    50% {
        transform: scale(1);
        opacity: 1; }
    70% {
        transform: scale(0.5);
        opacity: 0; }
    100% {
        transform: scale(0.1);
        opacity: 0; } }