html{

  color:#333;
  background-color: #fff;
  font-family: arial,'Helvetica',sans-serif;
  font-size: 100%;
  width: 1366px;
  margin: 0 auto;
  height: 100%;
  outline: 1px solid #ebebeb;
}
body{
  margin: 0;
}
h1{
  margin-left: 3rem;
  font-size: 2rem;
}

section.content{
  width: 100%;
  min-height: 768px;
}
li.photo-tile{
  list-style: none;
  float: left;
  padding: 1rem;
  -webkit-transition: all 200ms ease-out 200ms;
  -moz-transition: all 200ms ease-out 200ms;
  -o-transition: all 200ms ease-out 200ms;
  transition: all 200ms ease-out 200ms;
  //outline: 1px solid #ebebeb;
  img.photo{
    width: 100%;
  }

  &.column-six{
    width: 160px;
    height: 120px;
  }

  &.column-four{
    width: 250px;
    height: 190px;
  }
  &.column-three{
    width: 350px;
    height: 260px;
  }

}
.row{
  width: 100%;
  margin: 0.5rem 0 0.5rem;
}
div.photos{
  width: 90%;
  float: left;
  overflow-y: scroll;
  height: 700px;
}
div.side-bar{
  width: 10%;
  float: left;
}
