html{

  color:#333;
  background-color: #fff;
  font-family: arial,'Helvetica',sans-serif;
  font-size: 100%;
  width: 1366px;
  margin: 0 auto;
  height: 100%;
  outline: 1px solid #ebebeb;
}
body{
  margin: 0;
}
h1{
  margin-left: 3rem;
  font-size: 2rem;
}

section.content{
  width: 100%;
  min-height: 768px;
}
ul.photo-wrap {
  padding: 0;
  width: 1150px;
  position: relative;
  li.photo-tile {
    list-style: none;
    position: absolute;
    //float: left;    
    padding: 15px;
    -webkit-transition: all 200ms ease-out 500ms;
    -moz-transition: all 200ms ease-out 500ms;
    -o-transition: all 200ms ease-out 500ms;
    transition: all 200ms ease-out 500ms;

    img.photo {
      width: 100%;
    }

    &.column-six {
      width: 160px;
      height: 120px;
    }

    &.column-four {
      width: 250px;
      //width: 160px;
      height: 190px;
    }
    &.column-three {
      width: 350px;
      //width: 160px;
      height: 260px;
    }
  }
}
.row{
  width: 100%;
  margin: 0.5rem 0 0.5rem;
}
div.photos{
  width: 85%;
  float: left;
  overflow-y: scroll;
  height: 700px;
}
div.side-bar{
  width: 15%;
  float: left;
}

.last-sm{
  //animation: l-sm;
  //animation-duration:3s;
  transform:translate(-500px,100px);
}

//
//@keyframes l-sm {
//  0%{
//    transform:translate(0,0);
//  }
//  100%{
//    transform:translate(-500px,100px);
//  }
//}